

.expandable-slide {

    box-shadow: -0.5em -0.5em #978769, -1em -1em #766648;
}
a{
    color: white;
}

html, 
body {
  height: 100%;
  position: relative;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #000;
  color: white;
}
.view-empty
{
    color: white !important;
}
.breadcrumb{
    background-color: #0D2036 !important;
    
}
.breadcrumb li a
{
    color: white  !important;
}
.language-switcher-locale-url li {
    float: right;
    list-style: outside none none;
    margin-left: 0.3em;
}
#block-locale-language .block-title {
    display: none;
}
.fa-map-marker::before {
    margin-left: 5px!important;
}
.fa-2x {
    float: left;
    font-size: 1.5em!important;
}
.lead{
    font-size: 1.3em;
}
.well {
    border: none;
    background-color: transparent;
    background-image: url('/sites/all/themes/borgerneshus/images/blue_transparent.png');
}
.pane-glokationer, .pane-menu-tree {
    border: none;
    background-color: transparent;
    background-image: url('/sites/all/themes/borgerneshus/images/blue_transparent.png');
    padding-bottom: 2%;
    color: #d3d3d3;
}
.field_kilde
{
    font-size: 10px;
    width:100%;
    margin-bottom: 15px;
} 
.field-name-field-title-image {
    text-align: center;
}
.pane-menu-tree li > a {
    color: white !important;
    text-transform: uppercase;
}
.pane-glokationer .field-content > a {
    background-color: #0D2036;
    color: #000;
    font-weight: bold;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    padding: 10px 15px;
}
.pane-glokationer .field-content > a:hover {
    background-color: #115959;
}
.pane-glokationer .field-content > a::after {
    color: #96291d;
    content: "ï‹";
    float: right;
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}
.icon-margin {
    margin-right: 1em;
    color: #be1e2d;
}
.icon-aktiviteter {
    color: white;
}
.icon-font {
    color: white;
}
.view-header {
    margin-left: 6em;
}
.btn-event {
  background-color: #FF4F2C;
  border-color: #FF4F2C;
  margin-bottom: 0.3em;
}
.btn-event .field-item.even > a:hover
{
    color: white !important;
}
.btn-event .field-item.even > a, .btn.btn-event > div > a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-event .field-item.even > a:focus, .btn.btn-event > div > a:hover
{
    color: #fff !important;
}
.views-field.views-field-field-event-category.btn.btn-event {
    margin-right: 1em;
}
.date-display-single {
    color: black;
    display: inline-block;
    margin-top: 0.5em;
    color: black;
}
.views-field.views-field-field-dato {
    display: inline-block;
    font-weight: bold;
}
#site-content
{
    width: 100%;
    min-height: 90vh;
    margin-top:10px;
}
.footer
{
   color: white  !important;
   background-color: #0D2036;
   width: 100%;
   border-top: 0px solid black;
   display:inline-block;
   float:left;
   margin-top: 10px;
}

.node-unpublished
{
    background-color: transparent;
}
.footer_social_logos , footer_logos
{
   heigth: 152px;
}
.footer_social_logos .fa
{
    color: white;
}
.footer_logos img
{
    min-height: 55px;
    max-height: 80px;
    margin-left: 15px;
}
.region.region-top-left,.region.region-top-right{
    padding-top:10px;
}
.region.region-top-left
{
    font-size: 20px;
}
.region-footer-left section ul li a,.region-footer-middle section ul li a,.region-footer-rigth section ul li a{
    color: white;
    text-align: center;
}
.region-footer-left section ul li a:hover,.region-footer-middle section ul li a:hover,.region-footer-rigth section ul li a:hover
{
    
}
.navbar-inverse .navbar-nav > .active > a:hover{
    color: #FF4F2C !important;
}
.pane-content > .menu-block-wrapper > .nav > li > a:focus , .pane-content > .menu-block-wrapper > .nav > li > a:hover
{
    background-color: #115959 !important;
}

.page-header
{
    color: white;
    background-image: url('/sites/all/themes/borgerneshus/images/blue_transparent.png');
    padding-left: 13px;
    padding-top:2px;
    border-radius: 25px;
    word-wrap: break-word;
    display:none;
}
/*
* Drupal style tabs and user informaton.
* write if more stylings applied.
*/
.tabs--primary
{
    background-color: #115959;
}
.tabs--primary a
{
    color: white;
}
#user-login , .profile{
    background-image: url('/sites/all/themes/borgerneshus/images/blue_transparent.png');
    color: white;
    padding:10px;
}
/*
* Panels with backgrounds
*/
.pane-hp-events, .pane-view-galleries
{
    background-image: url('/sites/all/themes/borgerneshus/images/blue_transparent.png');
}
.pane-view-galleries
{
    
    height:auto;
    color: white;
    text-align: center;
    text-transform: uppercase;
    float:left;
    width: 100%;
    padding-bottom: 25px;
}
.pane-view-galleries h2
{
    font-size: 34px;
    font-weight: bold;
}
/*
* nav info header
*/
#nav-info-header{
    //border-bottom: 1px solid grey;
    height: 60px !important;
    margin-left:5px;
}
/*
* Navbar modifications
*/
#main-left-top-nav .navbar-nav
{
    float:right;
}
#main-right-top-nav .navbar-nav
{
    float:left;
}
.navbar{
    margin-bottom:0px;
    border-radius: 0 !important;
    min-height: 130px;
    color: white  !important;
    font-size: 20px;
    background-color: #0D2036 !important;
}
.navbar-inverse .navbar-nav > .active > a,.navbar-inverse .navbar-nav > .active > a:focus
{
    background-color: #0D2036 !important;
    color: #FF4F2C !important;
}
.navbar-nav li
{
    padding-top: 10px;
}
li.expanded.active-trail.dropdown
{
    text-decoration: underline
}
.active-trail.active {
    //background-color: #0D2036 !important;
    color: #FF4F2C !important;
    text-decoration: none;
}
.active-trail.active a:hover {
    //background-color: #0D2036 !important;
    color: #FF4F2C !important;
}
.active-trail{
   border-color: #0D2036 !important;
   
}
.navbar a{
    color: white !important;
}
#absolute_center {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  z-index: 1000;
}

.navbar-toggle {
    z-index:0;
}
#nav_menu_right{
    float:right;
    text-align: right;
}
.dropdown-menu
{
    background-color: #0D2036 !important;
    min-width: auto !important;
}
.dropdown-menu > li > a:hover {
    //background-color: #FF4F2C;
    background-image: none;
}
/*
* Owl carousel styling
*/
.node-frontpage-slide a:hover
{
    text-decoration: none;
}
.node-frontpage-slide
{
    text-align: center;
    background-image: url('/sites/all/themes/borgerneshus/images/blue_transparent.png');
    margin-left: 25%;
    margin-right: 25%;
    color: white !important;
    margin-top: 10vh;
    height: 450px;
    font-size: 55px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}
.node-frontpage-slide{
    color: white !important;
}
.slide-link p {
    color: white;
}
.slide-link h2 {
    color: white;
}
.owl-controls{
    text-align: center;
    bottom: 25px;
    position: relative;
}
.owl-nav
{
    color:#FF4F2C;
    float: left;
    bottom: 191px;
    width: 50%;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
}
.owl-prev {
    float: left;
    padding-left: 10px;
}
.owl-prev:hover
{
    color: #be1e2d;
}
.owl-next {
    float: right;
    padding-right: 10px;
}
.owl-next:hover
{
    color: #be1e2d;
}
.owl-controls .owl-dots {
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
    
}
 .owl-controls .owl-dots span {
    border: 1px solid #FF4F2C;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.owl-dot
{
    float:left;
}
 .owl-controls .owl-dots .active span{
    background: none repeat scroll 0 0 #FF4F2C;
    
 }
 #hp-read-news-frontpage-wrapper
 {
    margin-left: 33%;
    margin-right: 33%;
    text-align: center;
    margin-top: 50px;
 }
  #hp-read-news-block a
  {
      color: white  !important;
  }
 #hp-read-news-block
 {
    background-image: url('/sites/all/themes/borgerneshus/images/blue_transparent.png');
    padding-top: 10px;
    width: 195px;
    height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    
 }
 .field-content.price {
    font-weight: bold;
}
 
/*
* Bootstrap modal styling
*/
.modal-header , .modal-footer , .modal-content
{
    background: #0D2036;
    color:  white;
    
}
.modal-header{
     border-bottom: 1px solid black;
}
.modal-footer{
    border-top: 1px solid black;
}
.modal-content{
    
}
#search_input_wrapper {
    display: inline-block;
    margin-top: 2.3em;
    width: 50%;
}
.views-exposed-widgets {
    float: left;
    margin-bottom: 1em;
    margin-top: 1.8em;
}
/*
* Styling for the hp program btn
*/
.oc-my-hp-program-wrap 
{
    float:right;
    padding-top: 5px;
    
}
.oc-my-hp-program-wrap a.oc-my-hp-program-button:hover
 {
     color: grey;
 }
/*
* oc_sidr_menu styling overwrites
*/
.sidr > * , .oc_sidr_menu_footer > * , .oc_sidr_menu_header > * , .oc_sidr_child_menu li > * 
{
    color: white  !important;
}
.oc_sidr_menu_header
{
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}
/*
* Place2book styling overwrites
*/
.p2b_event_list_btn_wrap
{
    float:right;
    position:relative;
    bottom:5px;
    right: 15px;
}
.p2b_preloader
{
    float:right;
}
.pane-node .p2b_preloader
{
    float:left !important;
}
.hp-clear-my-program-btn
{
    margin-bottom: 10px;
}
.btn-success
{
    background-color: green;
    border-color: green;
}
.view-header
{
    margin-left: 5%;
}
/*
* Gmap popup style overwrites
*/
.gm-style .gm-style-iw
{
    background-image: url('/sites/all/themes/borgerneshus/images/blue_transparent.png');
    padding:10px;
    overflow-y:scroll;
    max-height:96%;
    min-height: 400px;
}
.gm-style-iw div
{
    overflow: visible !important;
}
.gmap-popup .views-row
{
    background: #b4a486;
    padding: 10px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}
.gmap-popup .view-content .views-field
{
    float: left;
}
.gmap-popup .view-content .views-field-title
{
    width: 80%;
    margin-left: 5px;
}
.gmap-popup .view-content .views-field-field-event-category
{
    margin-left: 5px;
}
.gmap-popup .view-content .views-field-title h2
{
    font-size: 15px;
    margin: 5px;
}
.gmap-popup .view-content .views-field-nothing
{
    float: right;
}
.gmap-popup .view-content .views-field-field-price
{
    width: 100%;
}
.gmap-popup .view-content #view_node_more_icon {
    color: red;
    display: inline-block;
}
.gmap-popup .view-content #view_node_more_link {
    display: inline-block;
    margin-right: 5px;
    color: black;
}
.gmap-popup .view-event-termer .view-content
{
    padding-left: 0px;
}
.gmap-popup .views-field .views-field-field-dato
{
    width: 80%;
}
.gmap-popup .views-field .views-field-field-dato .date-display-single
{
    display:block;
    margin-left: 5px;
    margin-top:0px;
}
.gmap-popup .views-field .views-field-field-lead
{
    width: 100%;
}
.gmap-popup .views-field .views-field-field-title-image
{
    max-width: 86px;
}
/*
* Webform overwrites
*/
.node-webform header
{
    display:none;
}
/*
* Background image credit styling
*/
.oc-bg-img-credit
{
    color: white;
    float:right;
    background-image: url('/sites/all/themes/borgerneshus/images/blue_transparent.png');
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
}
a:hover ,a:focus , #hp-read-news-block a:hover
{
    color: #FF4F2C !important;
}
.close{
    color: white !important;
    opacity: 1 !important;
}
.dropdown-menu>.active>a
{
    background-color: transparent !important;
}
.dropdown-menu > li > a:hover
{
     background-color: #115959 !important;
}
.nav > li > a:focus , .nav > li > a:hover
{
    color:#ff4f2c !important;
    
}
/*
* accordion styling
*/
.views-bootstrap-accordion-plugin-style
{
    color:black !important;
}
.node-afdeling h2
{
    display:none;
}
.view-open-hours .panel-heading{
    background-color: #115959;
    color: white;
}
.field-name-opening-hours-week .field-label
{
    display: none;
}
.openhours-accordion .field-name-field-department-image
{
float:left;
padding:10px;
}
.openhours-accordion .field-name-field-department-image img
{
    width: 150px;
    height: 150px;
}
.openhours-accordion .field-name-opening-hours-week 
{
float:left;
}
.openhours-accordion .field-name-body
{
float:left;
width:100%;
}
.opening-hours-week .next
{
    color:black;
}
/*
* sidr style overwrite
*/
.sidr{
    background:#131f30 !important;
}
.sidr ul li {
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
}